{
	"app": {
		"lang": "en"
	},
	"github": {
		"token": ""
	},
	"tmp": {
		"currentProject": "privateProject"
	},
	"projects": {
		"privateProject": {
			"path": "/my/path/to/project",
			"github": {
				"repo": {
					"name": "foobar"
				}
			}
		},
		"organizationProject": {
			"path": "/my/path/to/organization/project",
			"github": {
				"repo": {
					"name": "foobar",
					"organization": "myAwesomeOrganization"
				}
			}
		}
	}
}