{
	"app": {
		"lang": "en"
	},
	"github": {
		"token": ""
	},
	"tmp": {
		"currentProject": "foobar"
	},
	"projects": {
		"foobar": {
			"path": "/my/path/to/project",
			"github": {
				"repo": {
					"name": "foobar"
				}
			}
		}
	}
}